{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PhilHarvest</title>
	<link rel="icon"  type="image/png" href="{% static 'img/logo_standalone.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
	<div id="nav">
		<div class="line-top"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="{% url 'portal:dashboard' %}"><img src="{% static 'img/logo_standalone.png' %}" height="45"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'portal:farmers' %}">Farmer</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:products' %}">Commodity</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:report' %}">Report</a>
		      </li>
		      <li class="nav-item ml-auto">
		        <a class="nav-link" href="{% url 'portal:investment' %}">Investment</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav md-auto">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          My account
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'portal:profile' %}"><i class="fa fa-user"></i> Profile</a>
		           <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> Logout</a>
		        </div>
		      </li>
		    </ul>
		</nav>
	</div>
	<div id="add-farmers" class="add-farmers">
		<div class="content">
			<div class="row">
				<div class="col-xl-6">
					<h3>Farmer Registration</h3>
				</div>
				<div class="col-xl-2 offset-xl-4">
					<button class="btn btn-info btn-block">Save</button>
				</div>
			</div>
			<div class="sub-content" style="padding-top: 30px;">
				<div class="card">
					<div class="card-body">
						<h6 style="padding-bottom: 20px;">personal information</h6>
						<div class="row">
							<div class="col-xl-4">
								<div class="form-group">
									<label>Firstname</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Lastname</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Middlename</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-4">
								<div class="form-group">
									<label>Mobile</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Email</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Ownership</label>
									<select class="form-control">
										<option value="tenant">Tenant</option>
										<option value="owner">Land Owner</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-4">
								<div class="form-group">
									<label>City / Municipality</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Province</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Region</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xl-3">
								<h6 class="sector">Choose Sector</h6>
							</div>
							<div class="col-xl-9">
								<select class="form-control" name="type" id="type">
									<option name="agriculture" value="agriculture" selected="">Agriculture</option>
									<option name="poultry" value="poultry">Poultry</option>
									<option name="aquaculture" value="aquaculture">Aquaculture</option>
								</select>
							</div>
						</div>

						<div class="row" id="agri" name="agri">
							<div class="col-xl-4">
								<div class="form-group">
									<label>Municipality</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Region</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Farm land hectares</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label>Commodity</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="form-group">
									<label>Estimated tons to be harvest</label>
									<input type="text" name="username" class="form-control">
								</div>
							</div>	

							<div class="col-xl-1" style="margin-top:27px;">
								<div class="form-group">
									<input id="btn1" type="button" class="btn btn-info btn-block" name="answer" value="+" onclick="showDiv()" />
								</div>
							</div>




								<!-- show and hide div -->
								<div class="col-xl-12" id="crop1" style="display: none;">
									<div class="row">
										<div class="col-xl-4">
											<div class="form-group">
												<label>Farm land hectares</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-3">
											<div class="form-group">
												<label>Comodity</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-4">
											<div class="form-group">
												<label>Estimated tons to be harvest</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>	
										<div class="col-xl-1" style="margin-top:27px;">
											<div class="form-group">
												<input id="btn2" type="button" class="btn btn-info btn-block" name="answer" value="+" onclick="showDiv2()" />
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-12" id="crop2" style="display: none;">
									<div class="row">
										<div class="col-xl-4">
											<div class="form-group">
												<label>Farm land hectares</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-3">
											<div class="form-group">
												<label>Comodity</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-4">
											<div class="form-group">
												<label>Estimated tons to be harvest</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>	
										<div class="col-xl-1" style="margin-top:27px;">
											<div class="form-group">
												<input id="btn3" type="button" class="btn btn-info btn-block" name="answer" value="+" onclick="showDiv3()" />
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-12" id="crop3" style="display: none;">
									<div class="row">
										<div class="col-xl-4">
											<div class="form-group">
												<label>Farm land hectares</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-3">
											<div class="form-group">
												<label>Comodity</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>
										<div class="col-xl-4">
											<div class="form-group">
												<label>Estimated tons to be harvest</label>
												<input type="text" name="username" class="form-control">
											</div>
										</div>	
										<div class="col-xl-1" style="margin-top:27px;">
											<div class="form-group">
												<input type="button" class="btn btn-info btn-block" name="answer" value="+" onclick="showDiv4()" />
											</div>
										</div>
									</div>
								</div>
								<!-- show and hide div -->

							

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</body>
	

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function() {
		    $('#type').change(function(){
		        $('#agri')[ ($("option[value='agriculture']").is(":checked"))? "show" : "hide" ]();  
		    });
		});

		function showDiv() {
		   document.getElementById('crop1').style.display = "block";
		   document.getElementById('btn1').classList.add('hide');
		}
		function showDiv2() {
		   document.getElementById('crop2').style.display = "block";
		   document.getElementById('btn2').classList.add('hide');
		}
		function showDiv3() {
		   document.getElementById('crop3').style.display = "block";
		   document.getElementById('btn3').classList.add('hide');
		}
	</script>
</html>