{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PhilHarvest</title>
	<link rel="icon"  type="image/png" href="{% static 'img/logo_standalone.png' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
	<div id="nav">
		<div class="line-top"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="{% url 'portal:dashboard' %}"><img src="{% static 'img/logo_standalone.png' %}" height="45"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:farmers' %}">Farmer</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:products' %}">Commodity</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portal:report' %}">Report</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'portal:investment' %}">Investment</a>
		      </li>
		    </ul>
		    <ul class="navbar-nav md-auto">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          My account
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'portal:profile' %}"><i class="fa fa-user"></i> Profile</a>
		           <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> Logout</a>
		        </div>
		      </li>
		    </ul>
		</nav>
	</div>
	<div id="investment" class="investment">
		<div class="content">
			<div class="row">
				<div class="col-xl-3">
					<h3>Investment</h3>
				</div>
				<div class="col-xl-3">
					<a href="{% url 'portal:add-investor' %}">+ Register an investor</a>
				</div>
				<div class="col-xl-2">
					<a href="{% url 'portal:aide' %}">+ Investee</a>
				</div>
			</div>
			<div class="sub-content" style="padding-top: 30px;">
				<div class="card">
					<div class="card-body">
						<table class="table">
       						<thead>
       							<td>Firstname</td>
       							<td>Lastname</td>
       							<td>Middlename</td>
       							<td>Municipality</td>
       							<td>City</td>
       							<td>Province</td>
       							<td>Region</td>
       							<td>Token</td>
       						</thead>
                        </table>		
					</div>
				</div>
			</div>
		</div>
	</div>

</body>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>