{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhilHarvest</title>
  <link rel="icon"  type="image/png" href="{% static 'img/logo_standalone.png' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
  <div id="nav-users">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo_standalone_w.png' %}" height="45"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#nav-users">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#statistics">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#featured" style="width:160px;margin-right:60px;">Featured Products</a>
          </li>
          <li class="nav-item ml-auto">
            <button type="button" class="btn nav-invest" data-toggle="modal" data-target="#exampleModal">
              Invest
            </button>
          </li>
        </ul>
    </nav>
  </div>
    <header id="head" >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('{% static 'img/bg.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Agriculture</h3>
              <p>cultivation of land and breeding of animals and plants to provide food, fiber, medicinal plants and other products to sustain and enhance life.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'img/bg2.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Aquaculture</h3>
              <p>farming of fish, crustaceans, molluscs, aquatic plants, algae, and other organisms.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'img/bg3.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Livestock / Poultry</h3>
              <p>domesticated avian species that can be raised for eggs, meat and/or feathers</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <h3>LOGIN</h3>
            <div class="form-group">
              <label>username</label>
              <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
              <label>password</label>
              <input type="password" name="password" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info">Save changes</button>
          </div>
        </div>
      </div>
</div>


    <section id="statistics" class="statistics" style="padding: 50px 100px;">
      <div class="content">
        <h2>Statistics</h2>
        <div class="row">
        <div class="col-xl-8">
          <canvas id="lineChart"></canvas>
        </div>
        <div class="col-xl-4">
          <h5>Agriculture</h5>
          <p>Tomato</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
          <p>Carrots</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
        </div>
      </div>
      <hr style="padding:50px">
      <div class="row">
        <div class="col-xl-4">
          <h5>Livestock / Poultry</h5>
          <p>Tomato</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
          <p>Carrots</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
        </div>

        <div class="col-xl-8">
          <canvas id="lineChart3"></canvas>
        </div>
      </div>
       <hr style="padding:50px">
      <div class="row">
        
        
        <div class="col-xl-8">
          <canvas id="lineChart2"></canvas>
        </div>
        <div class="col-xl-4">
          <h5>Aquaculture/h5>
          <p>Tomato</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
          <p>Carrots</p>
          <ul>
            <li>January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
          </ul>
        </div>
      </div>
      </div>
    </section>
    <section id="featured" class="featured">
      <div class="content">
        <h2>Commodity</h2>
          <div class="row">
            <div class="col-xl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-5">
                      <i class="fa fa-user fa-9x"></i>
                    </div>
                    <div class="col-xl-7">
                      <h6>Mango</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-5">
                      <i class="fa fa-user fa-9x"></i>
                    </div>
                    <div class="col-xl-7">
                      <h6>Carrots</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-5">
                      <i class="fa fa-user fa-9x"></i>
                    </div>
                    <div class="col-xl-7">
                      <h6>Tomato</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-5">
                      <i class="fa fa-user fa-9x"></i>
                    </div>
                    <div class="col-xl-7">
                      <h6>Palay</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <a href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </section>
    <footer>
      <div class="container" style="height: 50px">
          <p style="padding: 30px; font-weight: 700;text-transform: uppercase;text-align: center"><img src="{% static 'img/logo_standalone.png' %}" height="40px">&nbsp&nbsp&nbsp PhilHarvest &copy 2018</p>
      </div>
    </footer>


</body>

 
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
     <script type="text/javascript">
    
     var top = $(window).scrollTop()
    $('a').click(function(e){
      e.preventDefault()

      console.log()
      
      

      if ($(this).hasClass('about-btn')) {
        $('.navbar-nav a.active').removeClass('active')
        $('#about-link').addClass('active')
      }

      else if($(this).hasClass('navbar-brand')){
        $('.navbar-nav a.active').removeClass('active')
        $('#home-link').addClass('active')
      }

      else{
        $('.navbar-nav a.active').removeClass('active')
        $(e.target).addClass('active')
      }



          var hash = e.target.hash
          console.log(hash)
          $('html, body').animate({ scrollTop: $(hash).offset().top}, 800)
              
       })

           
  </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>